/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--clr-grey-10);
  z-index: 2;
  opacity: 1;
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
}
.closeSidebar {
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
  opacity: 0;
  z-index: 0;
}
.header {
  padding: 2rem 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.movingHeader {
  padding: 1rem 2rem;
}

.closeBtn {
  border: none;
  display: inline-block;
  text-transform: capitalize;
  font-size: 1.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
  cursor: pointer;
  color: var(--clr-red-dark);
  outline-color: var(--clr-red-light);
  background: transparent;
}
.closeIcon {
  margin-left: 0.5rem;
  font-size: 1.5rem;
}
.closeBtn:hover {
  color: var(--clr-red-light);
}
.linksContainer {
  margin-top: -4.875rem;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.link {
  display: block;
  font-size: 2rem;
  text-transform: capitalize;
  padding: 0.2rem 3rem;
  margin: 0.5rem 0;
  text-align: center;
  letter-spacing: var(--spacing);
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
  color: var(--clr-grey-5);
  border-radius: var(--radius);
}
.link:hover {
  color: var(--clr-primary);
  background: var(--clr-primary-light);
}
